<h1>Listing Excel</h1>
<%= for table <- @tables do %>
  <p>Got a table here </p>
  <%= for row <- table do %>  
    <ul>
      <%= for cell <- row do %>  
        <li><% cell %></li>
      <% end %>
    </ul>
  <% end %>
<% end %>